<!doctype html>
<html layout:decorator="layout">
    <head>
        <title>详情</title>
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    
        <meta charset="utf-8"/>
    </head>
    <body>
        <div class="page-header" style="">
            <h1>网易云音乐 数据可视化 <small>show your data</small></h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h1 style="width:50%;margin:auto">最近一周听歌歌手词云</h1></div>
            <div class="panel-body">
                <img src="/static/img/week_singers_wordcloud.png" alt="">
            </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading"><h1 style="width:50%;margin:auto">最近一周听歌歌手统计（前10）</h1></div>
                <div class="panel-body">
                        <img src="/static/img/week_singers.png" alt="">
                        <img src="/static/img/week_singers_pie.png" alt="">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h1 style="width:50%;margin:auto">最近一周听歌歌曲统计（前10）</h1></div>
                <div class="panel-body">
                        <img src="/static/img/week_songs.png" alt="">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h1 style="width:50%;margin:auto">全部听歌歌手词云</h1></div>
                <div class="panel-body">
                        <img src="/static/img/all_singers_wordcloud.png" alt="">
                </div>
            </div>
         <div class="panel panel-default">
                <div class="panel-heading"><h1 style="width:50%;margin:auto">全部听歌歌手统计（前10）</h1></div>
                <div class="panel-body">
                        <img src="/static/img/all_singers.png" alt="">
                        <img src="/static/img/all_singers_pie.png" alt="">
                </div>
            </div>
        <div class="panel panel-default">
                <div class="panel-heading"><h1 style="width:50%;margin:auto">全部听歌歌曲统计（前10）</h1></div>
                <div class="panel-body">
                        <img src="/static/img/all_songs.png" alt="">
                </div>
            </div>
        <footer class="hidden-xs">
            <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <small>
                    2018 © Robin. All Rights Reserved.
                </small>
            </nav>
        </footer>
    </body>
</html>